extends layout

block content
  h1!=`${item.name} (id: ${item._id})`
  br
  p #[strong Category: ]
    a(href=item.category.url, class="category-link")=item.category.name
  p!=`<strong> Brand: </strong> ${item.brand}`
  p #[strong Size:] #{item.size}
  p #[strong Gender:] #{item.gender}
  p #[strong Color:] #{item.color}
  p #[strong In stock:] #{item.quantity_in_stock}
  p #[strong Price:] #{item.price} $
  p!=`<strong> Description: </strong> ${item.description}`
  hr
  p(class="link-parent")
    a(href=item.url+'/delete', class="delete-link") Delete product
  p(class="link-parent") 
    a(href=item.url+"/update", class="update-link") Update product

