extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-item
      label(for='category') Category:
      select(type='select' id="category" placeholder='Select category' name='category' required='true')
        - categories.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for category in categories
          if item
            option(value=category._id selected=(category._id.toString()===item.category._id.toString() ? 'selected' : false) ) #{category.name}
          else
            option(value=category._id) #{category.name}
    div.form-item
      label(for='name') Name:
      input(type='text' id="name" name='name' required='true' value!=(undefined===item ? '' : `${item.name}`))
    div.form-item
      label(for='brand') Brand:
      input(type='text' id="brand" name='brand' required='true' value!=(undefined===item ? '' : `${item.brand}`))
    div.form-item
      label(for='color') Color:
      input(type='text' id="color" name='color' required='false' value=(undefined===item ? '' : item.color))
    div.form-item
      label(for='size') Size:
      input(type='text' id="size" name='size' required='true' value=(undefined===item ? '' : item.size))
    div.form-item
      label(for='gender') Gender:
      select(type='select' id="gender" placeholder='Select gender' name='gender' required='true' )
        option(value='Men' selected=(undefined===item || item.gender!="Men" ? false:'selected')) Men
        option(value="Women" selected=(undefined===item || item.gender!="Women"? false:'selected')) Women
        option(value='Girls' selected=(undefined===item || item.gender!="Girls" ? false:'selected')) Girls
        option(value='Boys' selected=(undefined===item || item.gender!="Boys" ? false:'selected')) Boys
        option(value='Baby girls' selected=(undefined===item || item.gender!="Baby girls" ? false:'selected')) Baby girls
        option(value='Baby boys' selected=(undefined===item || item.gender!="Baby boys" ? false:'selected')) Baby boys
    div.form-item
      label(for='price') Price:
      input(type='text' id="price" name='price' required='true' value=(undefined===item ? '' : item.price))
    div.form-item
      label(for='quantity_in_stock') Quantity in stock:
      input(type='text' id="quantity_in_stock"  name='quantity_in_stock' required='true' value=(undefined===item ? '' : item.quantity_in_stock))    
    div.form-item
      label(for='description') Description:
      textarea(name='description' id="description" required='true' rows="3")!=`${undefined===item ? '' : item.description}`    
    button(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
