extends layout

block content
  h1!=`${title}: ${item.name}`

  p #[strong Do you really want to delete this Item?]
  br
  p #[strong Category:]
    a(href=item.category.url, class="category-link")!=`${item.category.name}`
  p!=`<strong>Brand:</strong> ${item.brand}`
  p #[strong Size:] #{item.size}
  p #[strong Gender:] #{item.gender}
  p #[strong Color:] #{item.color}
  p #[strong In stock:] #{item.quantity_in_stock}
  p #[strong Price:] #{item.price} $
  p!=`<strong>Description:</strong> ${item.description}`

  form(method='POST' action='')
    div
      input(type='hidden',name='itemid', required='true', value=item._id )
    button(type='submit') Delete
